<link rel="stylesheet" type="text/css" href="quotes-form.component.css">
<div class="container-fluid">
<h5 align="center">POST A QUOTE</h5>
<form (ngSubmit)= 'submitQuote' >
    <div class ="form-group">
        <label for="exampleFormControlTextarea1" class="form-label">Quote:</label>
        <textarea class="form-control" id="quote" [(ngModel)]="body"placeholder="We only live once,but if we do it right,once is enough"rows="4" required></textarea>
      </div><br>
      <div class="form-group">
        <label for="exampleFormControlInput1" class="form-label">Author:</label>
        <input type="text" class="form-control" id="author" placeholder="Mac West" required>
      </div><br>
      <div class="form-group">
        <label for="exampleFormControlInput1" class="form-label">Submitted By:</label>
        <input type="text" class="form-control" id="sub" placeholder="Coco" required>
      </div><br>
      <button class="btn btn-outline-dark bg-success" type="submit">Submit</button>
</form>
</div>
