<link rel="stylesheet" type="text/css" href="contact.component.css">
<h3 align="center">CONTACT US</h3>
<div class="container">
    <div class="row">
        <div class="col-md-5"><br><br><br><br>
            <p><button class="btn btn-success">Like us on Facebook</button></p>
            <p><button class="btn btn-success">Follow us on Instagram</button></p>
            <p><button class="btn btn-success">Get us trending on Twitter</button></p>
        </div>
        <div class="col-md-7"><br>
            <p id="message" align="center">LEAVE US A MESSAGE</p>
            <form>
                <div>
                    <label for="textarea" class="form-label">Message:</label>
                    <textarea class="form-control" id="quote" placeholder="Let us know what you think" rows="5"></textarea>
                  </div><br>
                  <div>
                    <label for="FormControlInput" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="name@gmail/yahoo.com">
                  </div><br>
                  <div>
                    <label for="FormControlInput" class="form-label">Full Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Mwikali Mayan">
                  </div><br>
                  <button class="btn btn-outline-dark bg-success" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>