<link rel="stylesheet" type="text/css" href="app.component.css">
<app-nav-bar></app-nav-bar>
<img src="https://images.unsplash.com/photo-1602785164803-9a6cf611f3b6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2FsbWluZ3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80" height="500"width="1278"><br><br>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-about></app-about>
    </div>
    <div class="col-md-6">
      <app-quote></app-quote>
    </div>
    <div class="col-md-3">
      <app-authors></app-authors>
    </div>
  </div>
</div>
</body><br>
<footer>
<div class="contact">
  <app-contact></app-contact>
</div>
</footer>