body{
    background-color:rgb(218, 233, 217);
}
.col-md-6{
    background-color: white;
    border-radius: 10px;
    border-style: ridge;
    box-shadow: 1px 3px 10px rgb(1 1 1 / 0.5);
}
footer{
    background-color: rgb(218, 233, 217);
}